<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>Student</title>
</head>
<body>
<div class="container">
  <h3> Directory</h3>
  <hr>
  <p class="h4 mb4">
    Save Student
  </p>
  <form action="#" th:action="@{/admin/save-change-password-user}"
        th:object="${user}" method="POST">
    <!--them truong an-->
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{username}">
    <input type="hidden" th:field="*{email}">
    <input type="hidden" th:field="*{first_name}">
    <input type="hidden" th:field="*{last_name}">
    <input type="hidden" th:field="*{age}">
    <input type="hidden" th:field="*{department_id}">
    <input type="hidden" th:field="*{role}">
    <input type="hidden" th:field="*{is_active}">
    <input type="hidden" th:field="*{password}">
    <input type="password" name="newPassword"
           class="form-control mb-4 w-25" placeholder="New Password">
    <input type="password" name="confirmPassword"
           class="form-control mb-4 w-25" placeholder="Confirm Password">
    <button type="submit" class="btn btn-info col-2">Save</button>
  </form>
  <hr>
  <a th:href="@{/admin/user-list}">Back to the User List</a>
</div>
</body>
</html>